:root{
    font-family: 'Roboto', sans-serif;
}
header{
    display: flex;
    align-items:center;
    justify-content: flex-end;
    background-color: black;
    height: 45px;
    padding: 1px;
    color: white;
    font-size: 12px;
    font-weight: 700;
    padding: 0 15px;
}
@media (min-width: 700px){
    header{
        height: 80px;
        padding: 0 15px;
    }
}
    #logo{
        height: 44px;
        width: 63px;
        margin-right: auto;
        background-image: url(logo.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    @media (min-width: 700px){
        #logo{
            width: 90px;
        }
    }
    .nav{
        margin-right: 30px;
    }
    @media (max-width: 512px){
        .hide{
            display: none;
        }
    }
    @media (max-width: 700px){
        .hide1{
            display: none;
        }
    }
    @media (max-width: 1000px){
        .hide2{
            display: none;
        }
    }
    
        #pop-up{
            display: none;
        }
    @media (min-width: 1000px){
        .hide3{
            display: none;
        }  
        header{
            justify-content: flex-start;
            font-size: 14px;
        } 
        #logo{
            margin-right: 30px;
        }
    }
    @media (min-width: 1250px){
        #pop-up{
            position: absolute;
            top: 0;
            right: 0;
            height: 80px;
            border-left: white 1px solid;
            display: flex;
            align-items: center;
        }
        .pop{
            margin: 20px;
        }
    }
        .chevron::after{
            font-family: 'Font Awesome 5 Free';
            content: ' \f078';
            margin-left: 8px;
        }
        #menu::after{
            font-family: 'Font Awesome 5 Free';
            content: ' \f0c9';
            margin-left: 2px;
        }

#splash{
    height: 124vw;
    background-image: url('./splash_mobile.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px 40px;
    color: white;
    text-align: center;
}
@media (min-width: 512px){
    #splash{
        background-size: cover;
        height: 150vw;
        background-position: center;
        margin-bottom: 40px;
        
    }
}
@media (min-width: 700px){
    #splash{
        background-image: url(splash.jpg);
        background-size: cover;
        height: 47vw;
        max-height: 546px;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center
    }
    #splash_box{
        width: 40vw;
        min-width: 300px;
        float: left;
        line-height: 1.5;
    }
}
    #motortrend{
        width: 200px;
    }
    @media (min-width: 512px){
        #motortrend{
            width: 360px;
            margin-top: 20px;
        }
    }
    @media (min-width: 700px){
        #motortrend{
            width: 40vw;
            max-width: 400px;
            margin-top: 26px;
        }
    }

    sub{
        position: relative;
        top:3px;
        font-size: 11px;
    }
    #react{
        line-height: 20px;
        margin: 6px 0;
    }
    #tag{
        font-size: 10px;
    }
    @media (min-width: 700px){
        #tag{
            font-size: 12px;
        }
    }
    .button{
        font-family: proxima-nova, sans-serif;
        font-size: 14px;
        font-weight: 700;
        background-color: #FFBA01;
        padding: 13px 0;
        width: 247px;
        margin: 17px auto;
        color: black;
        border-radius: 2px;
        text-align: center;
    }
    @media (min-width: 700px){
        .button{
            margin: 30px 0;
            padding: 10px 0;
        }
    }
    .button::after{
        font-family: 'Font Awesome 5 Free';
        content: ' \f054';
        margin-left: 6px;
        font-size: 12px
    }
    .reference{
        font-size: 9px;
        background-color: rgba(255, 255, 255, .8);
        text-decoration: none;
        color: black;
        padding: 2px 3px 1px;
        border-radius: 10px;
        margin: 3px;
    }
#vehicle_title{
    font-family: proxima-nova, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
#vehicles{
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    padding: 10px 10px 50px;
}
    .card{
        background-size: contain;
        background-repeat: no-repeat;
        width: 50%;
        height: 150px;
    }
    @media (min-width: 512px){
        .card{
            width: 33%;
        }
    }
    @media (min-width: 700px){
        .card{
            width: 25%;
        }
    }
    @media (min-width: 1000px){
        .card{
            width: 16%;
        }
    }
        .card_title{
            font-family: proxima-nova, sans-serif;
            font-size: 16px;
            font-weight: 700;
            text-align: center
            }
        .card_price{
            margin: 8px;
            text-align: center;
            font-weight: 700;
            font-size: 14px;
        }
            .card_price::before{
                display: block;
                content: 'MSRP* STARTING AT';
                font-size: 9px;
                color: #636363;
                font-weight: 400;
            }
            .card_price::after{
                content: '14';
                color: white;
                font-size: 8px;
                background-color: #515151;
                padding:1px;
                border-radius: 10px;
                position: relative;
                bottom: 4px;
            }
        .mug{
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            height: 55%;
        }
            .wrangler{background-image: url(wrangler.jpg);}
            .g_cherokee{background-image: url(g_cherokee.jpg);}
            .cherokee{background-image: url(cherokee.jpg);}
            .compass{background-image: url(compass.jpg);}
            .renegade{background-image: url(renegade.jpg);}
            .gladiator{background-image: url(gladiator.jpg);}
#tiles{
    display: flex;
    flex-wrap: wrap;
    background-color: #D1D1D1;
    padding: 10px
}
    .tile{
        min-width: 325px;
        flex: 1;
        height: 243px;
        margin: 10px;
    }
    @media (min-width: 512px){
        .tile{
            height: 310px;
        }
    }
        .banner{
            width: 100%;
            height: 50%;
            background-size: cover;
            background-position: center
        }
        @media (min-width: 512px){
            .banner{
                height: 70%;
            }
        }
            .t_compass{background-image: url(compass_tile.jpg)}
            .t_g_cherokee{background-image: url(g-cherokee_tile.jpg)}
            .t_cherokee{background-image: url(cherokee_tile.jpg)}

        .lable{
            background-color: black;
            color: white;
            padding: 13px 24px;
            font-size: 14px;
            line-height: 18px;
            height: 25%;
        }
        @media (min-width: 512px){
            .lable{
                height: 13%;
            }
        }
        b{
            font-weight: 700;
        }
        .call{
            height: 30px;
            background-color: #212121;
            color: white;
            display: flex;
            font-size: 12px;
            font-weight: 700;
            justify-content: flex-end;
            align-items: center;
        }
            .call::after{
                font-family: 'Font Awesome 5 Free';
                content: ' \f054';
                margin: 0 6px 0 25px;
                font-size: 12px;
                color: #FFBA01;
                font-weight: 700;
            }
#studio{
    background-color: #E7E7E7;
    font-family: proxima-nova, sans-serif;
    font-size: 12px;
    font-weight: 700;
    display: flex;
}
#left{
    flex: 1;
    padding: 28px;
}
#graphic{
    flex: 1;
    background-image: url(graphics.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px
}
@media (max-width: 700px){
    #graphic{
        visibility: hidden;
        flex: 2
    }
}
@media (min-width: 700px){
    #studio{
        font-size: 24px;
    }
}
#value{
    background-color: #D1D1D1;
}
#kelley{
    
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: proxima-nova, sans-serif;
    font-size: 26px;
    font-weight: 700;
    max-width: 900px;
    margin: auto
}
#seal{
    width: 150px;
}
#trade_column{
    display: flex;
    flex-direction: column;
}
@media (min-width: 700px){
    #kelley{
        flex-direction: row;
        font-size: 30px;
        text-align: left;
    }
}
#trade_p{
    color: white;
    font-size: 14px;
}
#map{
    background-color: #212121;
    padding: 20px
}
    #links{
        display: flex;
        flex-wrap: wrap;
        color:#BFBFBF;
        align-items: center;

    }
        .link{
            min-width: 50%;
            margin: 10px 0;
        }
        @media (min-width: 700px){
            .link{
                flex: 1;
                min-width: 10%;
            }
        }
        #automobility{
            display: inline-block;
            height: auto;
            max-width: 100%;
        }
        #globe{
            margin-right: 15px;
        }
    #search{
        display: flex;
        width: 100%;
        max-width: 450px;
        background-color: white;
        align-items: center;
        color: black;
        border-radius: 3px;
        margin: 40px 0;
        padding-left: 7px
    }
        #search_button{
            font-family: proxima-nova, sans-serif;
            font-size: 12px;
            font-weight: 700;
            text-align: center;
            background-color: #FFBA01;
            width: 76px;
            margin-left: auto;
            padding: 12px;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
#footer{
    background-color: black;
    color: white;
    padding: 40px 26px
}
    .expandable{
        font-family: proxima-nova, sans-serif;
        font-size: 12px;
        font-weight: 700;
        padding: 16px 0;
        border-bottom: solid white 1px;
    }
        .expandable::after{
            font-family: 'Font Awesome 5 Free';
            content: ' \f078';
            float: right;
            font-size: 16px;
            padding: 0 5px;

        }
    #follow{
        display: flex;
        padding: 40px 0 0;
        font-family: proxima-nova, sans-serif;
        font-size: 12px;
        font-weight: 700;
    }
        #icon{
            flex: 1
        }
            #icons{
                margin: 20px 0 15px;
                font-size: 28px;
                letter-spacing: 2px;
            }
        #support{
            flex: 1;
        }
            #uconnect{
                padding: 20px 0;
            }
        hr{
            border-color:rgba(255, 255, 255, .2);
        }
        p{
            color: rgba(255, 255, 255, .8);
            margin: 15px 0;
            line-height: 1.4;
            font-size: 10px;
        }
        span{
            margin: 0 7px;
        }
        #titles{
            margin: 30px 0;
            line-height: 3;
        }
        